{% extends 'base.html' %}

{% block title %}Product form{% endblock %}

{% block content %}



<div class="login-container">
    <h2>Product</h2>


    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

      
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <input type="file" name="images" multiple>

        <button type="submit">Submit</button>
    </form>

</div>



{%if product%}
<hr>
<h3>Current Images</h3>
{% for img in product.images.all %}
    <div>
        <img src="{{ img.image.url }}" width="120">
        
    </div>
{% endfor %}
{% endif %}

{% endblock %}
